<div class="file">
  <h2 id="<%- file.filename %>"> <%- file.filename %></h2>
  <div id="stats">

    <div>
      Statements
      <span class="statementcov <%= coverageClass(file.statementCoverage) %>">
        <%= formatCoverage(file.statementCoverage) %>
      </span>
      <span>[<%= file.statementHits %>/<%= file.statementTotal %>]</span>
    </div>
    <div>
      Branches
      <span class="branchcov <%= coverageClass(file.lineCoverage) %>">
        <%= formatCoverage(file.branchCoverage) %>
      </span>
      <span>[<%= file.branchHits %>/<%= file.branchTotal %>]</span>
    </div>
    <div>
      Functions
      <span class="statementcov <%= coverageClass(file.statementCoverage) %>">
        <%= formatCoverage(file.statementCoverage) %>
      </span>
      <span>[<%= file.statementHits %>/<%= file.statementTotal %>]</span>
    </div>
    <div>
      Lines
      <span class="linecov <%= coverageClass(file.lineCoverage) %>">
        <%= formatCoverage(file.lineCoverage) %>
      </span>
      <span>[<%= file.lineHits %>/<%= file.lineTotal %>]<span>
    </div>

  </div>
  <table id="source">
    <thead>
      <tr>
        <th>Line</th>
        <th>Hits</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
      <% var number; %>
      <% var line; %>
      <% for (number = 1; number < file.source.length; number ++) { %>
        <% line = file.source[number];%>
        <% if (line.branches) { %>
            <tr class="miss-branch">
              <td class="line"><%- number %></td>
              <td class="hits"><%- line.coverage %></td>
              <td class="source"><%- line.source %></td>
            </tr>
        <% } else if (line.coverage > 0) { %>
            <tr class="hit">
              <td class="line"><%- number %></td>
              <td class="hits"><%- line.coverage %></td>
              <td class="source"><%- line.source %></td>
            </tr>
        <% } else if (0 === line.coverage) { %>
            <tr class="miss">
              <td class="line"><%- number %></td>
              <td class="hits">0</td>
              <td class="source"><%- line.source %></td>
            </tr>
        <% } else { %>
            <tr>
              <td class="line"><%- number %></td>
              <td class="hits"></td>
              <td class="source"><%- line.source %></td>
            </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>
</div>