<h1 id="overview"><%= cov.instrumentation %></h1>
<div id="stats">
  <div>
    Statements
    <span class="linecov <%= coverageClass(cov.statementCoverage) %>">
      [<%= cov.statementCoverage %>%]
    </span>
    <span><%= cov.statementHits %>/<%= cov.statementTotal %><span>
  </div>
  <div>
    Branches
    <span class="branchcov <%= coverageClass(cov.branchCoverage) %>">
      [<%= cov.branchCoverage %>%]
    </span>
    <span><%= cov.branchHits %>/<%= cov.branchTotal %></span>
  </div>
  <div>
    Functions
    <span class="linecov <%= coverageClass(cov.functionCoverage) %>">
      [<%= cov.functionCoverage %>%]
    </span>
    <span><%= cov.functionHits %>/<%= cov.functionTotal %><span>
  </div>
  <div>
    Lines
    <span class="linecov <%= coverageClass(cov.lineCoverage) %>">
      [<%= cov.lineCoverage %>%]
    </span>
    <span><%= cov.lineHits %>/<%= cov.lineTotal %><span>
  </div>
</div>